@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    padding: 5px;
}

h1{
    text-align: center;
    font-weight: bolder;
}

table{
    border-collapse: collapse;
}

caption{
    font-size: 20px;
    font-weight: bold;
    background-color: rgb(39, 38, 38);
    color: white;
    padding: 15px;
}

td, th{
    border: 1.5px solid black;
    padding: 15px;
}

tbody > tr:nth-child(odd){
    background-color: lightblue;
    font-weight: bold;
    color: aliceblue;
}

tbody > tr:nth-child(even){
    background-color: aliceblue;
    font-weight: bold;
}

thead, tfoot{
    background-color: rgb(169, 169, 169);
    color: white;
}

tfoot > tr > td{
    font-weight: bolder;
}

.num{
    text-align: right;
}